body {
  display: flex;
  flex-direction: column;

  justify-content: center;
  align-items: center;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: space-between; /* Space rows evenly */
  
  width: 550px;
  height: 550px;
}

.subContainer {
  margin-top: -10px;
  margin-bottom: 20px;

  display: flex;
  gap: 15px;
}

.row {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.square , .colored{
  border: 3px solid darkblue;
  margin-right: -3px; /* Adjust the margin to overlap the border */
  margin-top: -3px;

  flex: 1;
}

.square:last-child {
  margin-right: 0; /* Remove the negative margin from the last square */
}

/* OPTIONS */
h3, h1 {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}



